<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfV8Z2tlnWLkWLim2q6WVq0TuToaK7wvLlBFlx7cAHgHUgBI4Dke2VA3jp-NStODYvbkc&usqp=CAU" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">My lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New list</a>
          </li>
          <li class="nav-item dropdown">
            <img id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZHJhbWElMjBtb3ZpZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <h1><strong><%= @list.name %></strong></h1>
    <%= link_to "Add a new movie", new_list_bookmark_path(@list), class: "btn btn-gradient" %>
  </div>
</div>
<div class="grid-container">
  <% @list.movies.each do |movie| %>
    <div class="card-trip">
      <img src="<%= movie.poster_url %>">
      <div class="card-trip-infos">
        <div>
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
          <% movie.bookmarks.each do |bookmark|%>
            <p class="mt-2"><i class="fa-regular fa-bookmark"></i>  <strong><%= bookmark.comment %></strong></p>
          <% end %>
        </div>
        <h2 class="card-trip-pricing"><%= movie.rating %></h2>
      </div>
    </div>
  <% end %>
</div>
